@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Yatra One', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #fcfcfc;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cat-logo {
  width: 100px;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 50px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-color: #BCEDFE;
}
footer {
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.bgimg {
  background-color: #BCEDFE;
  background-size: cover;
  height: 100vh;
}
